<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body class="pf-v6-c-page">
  <header class="pf-v6-c-page__header">
    {% include masthead.html %}
  </header>
  <div class="pf-v6-c-page__sidebar">
    {% include sidebar.html %}
  </div>
  <main class="pf-v6-c-page__main" id="main-content">
    <section class="pf-v6-c-page__main-section">
      <div class="pf-v6-c-content{% if page.content_class %} {{ page.content_class }}{% endif %}">
        {{ content }}
      </div>
    </section>
  </main>
  {% include footer.html %}
  <script src="{{ '/assets/js/nav.js' | relative_url }}"></script>
  {% if page.carousel %}
  <script src="{{ '/assets/js/carousel.js' | relative_url }}"></script>
  {% endif %}
  {% if page.arcade %}
  <script src="{{ '/assets/js/arcade-embed.js' | relative_url }}"></script>
  {% endif %}
</body>
</html>
